# OpenAI and document tokenization
openapi
tiktoken

# test suite - https://fastapi.tiangolo.com/tutorial/testing/#run-it
pytest

# web server - https://fastapi.tiangolo.com/deployment/docker/#package-requirements
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
gunicorn

# faiss
faiss-cpu
faiss-gpu

# tensorflow
absl-py
tensorflow
tensorflow_hub

# test
bs4
markdown
#re
